/* styles.css */

.button {
    background: lightblue;
    color: #000;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .container {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    color: #000;
    max-width: 100%;
    display: flex;
    
  }
  
  .tableContainer {
    width: 98%; 
    overflow: auto;
    height: 100vh; 
    scrollbar-width: none; 
  }
  
  .tableContainer::-webkit-scrollbar {
    display: none; 
  }
  
  @media (min-width: 769px) {
    .tableContainer {
      width: 98%; 
    }
  }
  
  .cell {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.10em; 
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
  }
  
  @media (max-width: 768px) {
    .cell {
      font-size: 0.95em; 
    }
  }
  
  .header {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.15em; 
    position: sticky;
    top: 0;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    background: #007BFF;
  }
  
  @media (max-width: 768px) {
    .header {
      font-size: 1.0em; 
    }
  }
  
  .secondaryButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popupContent {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input {
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid blue;
    padding: 5px;
  }
  
  .addButton {
    background: lightblue;
    color: #000;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .headingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  